@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --transition-speed: 0.4s;
    --ik-common-page-z-index: initial;
    --ik-product-edit-toolbar-z-index: 1;
    --ik-sticky-header-z-index: 10;
    --ik-basket-overlay-z-index: 11;
    --ik-admin-page-z-index: 20;
    --ik-basket-z-index: 12;
    --ik-modal-z-index: 100;
    --ik-danger-color: #d46306;
    --ik-favourites-heart-color: #ea0086;
    --ik-error-color: #c4103f;
    --ik-bg-color: #ffffffff;
    --ik-bg-high-contrast-color: #333333;
    --ik-bg-low-contrast-color: #eeeeee;
    --ik-accent-color: #24ae43;
    --ik-accent-contrast-color: #ffffff;
    --ik-header-bg-color: #ffffff;
    --ik-header-bg-second-color: #eeeeee;
    --ik-header-highlight-color: #f7ce22;
    --ik-header-bg-high-contrast-color: #333333;
    --ik-header-bg-low-contrast-color: #f5f5f5;
    --ik-tab-highlight-color: #016a1b;
    --ik-product-bg-color: #fafafa;
    --ik-product-bg-high-contrast-color: #222222;
    --ik-basket-header-bg-color: #111111;
    --ik-basket-header-bg-high-contrast-color: #ffffff;
    --ik-heart-color: #be0707;
}
body {
    font-family: 'Roboto', sans-serif; /* Default font for body */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Pacifico', cursive; /* Use Pacifico for headings */
}

button,span {
    font-family: 'Roboto', sans-serif; /* Buttons can use Roboto */
}


.menu-page{
    background-color: #fff;
}
/* Default styles */
.menu-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr); /* Default grid for mobile */
}

.aspect-square {
    position: relative; /* Required for absolutely positioned children */
    width: 100%; /* Adjust width based on parent container */
    padding-top: 100%; /* Maintains a 1:1 aspect ratio */
}

.aspect-square img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container */
}
.card-itemss-btn {
    width: 100%; /* w-full */
    background-color: #fb923c; /* bg-orange-500 */
    color: white; /* text-white */
    padding: 0.5rem 1rem; /* py-2 px-4 */
    border-radius: 9999px; /* rounded-full */
    transition: all 0.2s ease-in-out; /* hover transition */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* shadow-md */
    font-size: 1rem; /* Optional, same as text-base in Tailwind */
}

/* Styles for 768px and below */
@media (min-width: 450px) and (max-width: 768px) {
    .menu-grid {
        grid-template-columns: repeat(4, 1fr); /* 4 equal columns for tablets */
    }
    .cart-itemss {
        display: flex;
        justify-content: center;
        width: 300px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .menu-grid {
        grid-template-columns: repeat(5, 1fr); /* 4 equal columns for tablets */
    }
    .cart-itemss {
        display: flex;
        justify-content: center;
        width: 500px;
    }
}

/* Styles for 1024px and above */
@media (min-width: 1024px) {
    .menu-grid {
        grid-template-columns: repeat(
            6,
            1fr
        ); /* 6 equal columns for large screens */
    }
    .cart-itemss {
        display: flex;
        justify-content: center;
        width: 700px;
    }
}

/* Styles for 450px and below */
@media (min-width: 375px) and (max-width: 450px) {
    body {
        background-color: #f0f0f0; /* Example: Change the background color */
    }

    .menu-grid {
        grid-template-columns: repeat(
            3,
            1fr
        ); /* 2 equal columns for smaller devices */
    }

    .sticky {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .cart-itemss {
        display: flex;
        justify-content: center;
        width: 300px;
    }
    .custom-class {
        display: grid;
        grid-template-columns: 1fr; /* Single column grid for very small devices */
        gap: 10px;
    }
}
